# Introducción a Python

## Impresión

In [4]:
print("Hola Mundo")

Hola Mundo

In [5]:
print("Hola","Mundo")

Hola Mundo

In [6]:
print(1+2)

3

## Operaciones básicas

In [7]:
x=1
y=2
z=x+y
print(z)

3

In [8]:
print(x-y)
print(x*y)
print(x/y)
print(x**2,y**2)

-1
2
0.5
1 4

## Listas

In [9]:
v=[10,43,623,12,46,12,4,5]
print(v)

[10, 43, 623, 12, 46, 12, 4, 5]

In [10]:
23 in v

False

In [11]:
print(v[4])

46

In [12]:
v[0]=23
print(v[0])
print(v)
print(23 in v)

23
[23, 43, 623, 12, 46, 12, 4, 5]
True

In [14]:
print("longitud de v",len(v))
print(v[7])

longitud de v 8
5

In [15]:
print("La suma de los dos primeros valores es: ", v[0]+v[1])

La suma de los dos primeros valores es:  66

In [16]:
print(max(v),min(v))

623 4

In [17]:
print(v)
v.append(43)
print(v)

[23, 43, 623, 12, 46, 12, 4, 5]
[23, 43, 623, 12, 46, 12, 4, 5, 43]

In [18]:
print(v)
v.append("hola")
print(v)

[23, 43, 623, 12, 46, 12, 4, 5, 43]
[23, 43, 623, 12, 46, 12, 4, 5, 43, 'hola']

In [19]:
print(v)
v.remove("hola")
print(v)

[23, 43, 623, 12, 46, 12, 4, 5, 43, 'hola']
[23, 43, 623, 12, 46, 12, 4, 5, 43]

In [20]:
print(v)
a=v.pop(0)
print(v)
print(a)

[23, 43, 623, 12, 46, 12, 4, 5, 43]
[43, 623, 12, 46, 12, 4, 5, 43]
23

In [21]:
print(v)
v.sort(reverse=True)
print(v)

[43, 623, 12, 46, 12, 4, 5, 43]
[623, 46, 43, 43, 12, 12, 5, 4]

## Tuples

Las listas son iterables y mutables.
Las tuplas son arreglos iterables pero no mutables.

In [22]:
t1=(1,2,3,4,5,6,7)
print(t1)

(1, 2, 3, 4, 5, 6, 7)

In [23]:
t1[4]

5

In [24]:
t1[0]=78

TypeError: 'tuple' object does not support item assignment

## Ciclo FOR

In [33]:
for i in v:
    print(i, ' - su cuadrado es: ', i**2)

10  - su cuadrado es:  100
43  - su cuadrado es:  1849
623  - su cuadrado es:  388129
12  - su cuadrado es:  144
46  - su cuadrado es:  2116
12  - su cuadrado es:  144
4  - su cuadrado es:  16
5  - su cuadrado es:  25
20  - su cuadrado es:  400
34  - su cuadrado es:  1156

In [32]:
v=[10,43,623,12,46,12,4,5,20,34]
for i in range(10):
    print(i,' - ', v[i])

0  -  10
1  -  43
2  -  623
3  -  12
4  -  46
5  -  12
6  -  4
7  -  5
8  -  20
9  -  34

In [34]:
print(list(range(2,20,2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

## Condicionales

In [35]:
v2=list(range(10,20))
v3=list(range(15,24))
print(v2)
print(v3)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[15, 16, 17, 18, 19, 20, 21, 22, 23]

In [37]:
print(len(v2))
print(len(v3))
if len(v2)==len(v3):
    print("Misma longitud")
elif len(v2)==len(v3)+1:
    print("La longitud del v2 es 1 unidad mayor")
else:
    print("Diferente longitud")

10
9
La longitud del v2 es 1 unidad mayor

## Combinacion entre FOR y condicional

In [38]:
v2=list(range(10,20))
v3=list(range(15,25))
if len(v2)==len(v3):
    for i in range(0,len(v2)):
        if v2[i] in v3:
            print(v2[i])
else:
    print("Diferente longitud")

15
16
17
18
19

## Aleatorios

In [1]:
import random as rnd

In [2]:
rnd.random()

0.40319600642113396

In [3]:
rnd.randint(0,20)

1

In [4]:
[rnd.randint(500,900) for i in range(0,10)]

[691, 564, 793, 566, 885, 533, 631, 849, 543, 598]

## Funciones

In [5]:
def listaAletorios(limiteInf, limiteSup, tamanyo):
    return [rnd.randint(limiteInf,limiteSup) for i in range(0,tamanyo)]

In [7]:
listaPrueba = listaAletorios(-50,-10,14)
listaPrueba

[-50, -40, -11, -12, -24, -13, -32, -28, -14, -30, -26, -27, -22, -15]

In [9]:
def promedio(lista):
    suma=0
    for elemento in lista:
        suma=suma+elemento
    promedio=suma/len(lista)
    return promedio

In [10]:
promedio(listaAletorios(-50,-10,14))

-36.5

## Ciclo WHILE

In [15]:
a=0
while a==0:
    aleatorio=rnd.randint(0,100)
    print(aleatorio)
    if aleatorio > 70:
        a=1

59
89

In [18]:
lista=[0 for i in range(0,10)]
while promedio(lista)<60:
    lista=listaAletorios(0,100,10)
    print(lista,promedio(lista))

[93, 56, 97, 28, 90, 47, 20, 13, 87, 14] 54.5
[62, 71, 36, 25, 88, 24, 39, 23, 66, 81] 51.5
[89, 59, 75, 54, 29, 12, 70, 31, 34, 61] 51.4
[22, 25, 71, 83, 85, 29, 51, 1, 52, 35] 45.4
[31, 21, 45, 59, 82, 45, 25, 87, 59, 6] 46.0
[26, 62, 75, 35, 80, 91, 49, 95, 26, 90] 62.9

## Diccionarios

### los diccionarios tienen un identificador propio

In [20]:
dict1={'nombres':['Daniel','Alejandro','Jose','Jeremías'],
      'apellidos':['Saldarriaga','Serna','Isaza','Arbelaez']}

In [21]:
dict1.keys()

dict_keys(['nombres', 'apellidos'])

In [22]:
dict1.values()

dict_values([['Daniel', 'Alejandro', 'Jose', 'Jeremías'], ['Saldarriaga', 'Serna', 'Isaza', 'Arbelaez']])

In [23]:
dict1['nombres']

['Daniel', 'Alejandro', 'Jose', 'Jeremías']

In [24]:
dict1['apellidos']

['Saldarriaga', 'Serna', 'Isaza', 'Arbelaez']

In [26]:
dict1['edades']=[24,25,26,27]
print(dict1)

{'nombres': ['Daniel', 'Alejandro', 'Jose', 'Jeremías'], 'apellidos': ['Saldarriaga', 'Serna', 'Isaza', 'Arbelaez'], 'edades': [24, 25, 26, 27]}

In [29]:
dict1['edades'][0]=15
dict1['edades']

[15, 25, 26, 27]

In [30]:
for item in dict1.items():
    print(item)

('nombres', ['Daniel', 'Alejandro', 'Jose', 'Jeremías'])
('apellidos', ['Saldarriaga', 'Serna', 'Isaza', 'Arbelaez'])
('edades', [15, 25, 26, 27])

In [31]:
for key in dict1.keys():
    print(key,' - ', dict1[key])

nombres  -  ['Daniel', 'Alejandro', 'Jose', 'Jeremías']
apellidos  -  ['Saldarriaga', 'Serna', 'Isaza', 'Arbelaez']
edades  -  [15, 25, 26, 27]